.editor-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.fieldset-container {
  border: none;
  display: flex;
  flex-direction: column;
}


.form-field:not(:last-child) {
  margin-bottom: 16px;
}

.preview {
  max-width: 200px;
  vertical-align: middle;
}
