<div class="editor-page">
  <app-list-errors [errors]="errors"></app-list-errors>
  <form [formGroup]="articleForm" class="form-container">
    <fieldset [disabled]="isSubmitting" class="fieldset-container">
      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter the title" type="text">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="Enter the description" type="text">
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>
          Banner Image
        </label>
        <input hidden matInput />
        <div>
          <input type="file" id="bannerImageInput" name="bannerImageInput" accept="image/*,video/*"
            (change)=selectFile($event) />
        </div>
        <div>
          <img *ngIf="previewFormat==='image' && preview" [src]="preview" class="preview" />
        <video [src]="preview" *ngIf="previewFormat==='video' && preview" class="preview" controls></video>
        </div>
      </mat-form-field>

      <mat-form-field class="form-field custom-input">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="body" rows=8 placeholder="Enter the content"></textarea>
      </mat-form-field>

      <mat-form-field class="form-field custom-input">
        <mat-label>Topic</mat-label>
        <mat-select formControlName="topicId">
          <mat-option *ngFor="let val of topics" [value]="val.topicId">{{val.topicName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Category</mat-label>
        <input matInput placeholder="Enter tags" [formControl]="tagField" (keyup.enter)="addTag()">
        <mat-chip-listbox *ngFor="let tag of tagList">
          <mat-chip-option (click)="removeTag(tag)">
            {{ tag }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="submitForm()">
        Publish Article
      </button>

    </fieldset>
  </form>
</div>
